
driver: console
formatter: text
level: trace

#driver: single
#level: trace
#folder: ./storage/log/single
#file: gob_single.log

#driver: rotate      # 切割日志
#level: trace        # 日志级别
#file: gob.log       # 保存的日志文件
#rotate_count: 10    # 最多日志文件个数
#rotate_size: 120000 # 每个日志大小
#rotate_time: "1m"   # 切割时间
#max_age: "10d"      # 文件保存时间
#date_format: "%Y-%m-%d-%H-%M" # 文件后缀格式

#driver: aliyun_sls
#level: trace
#formatter: json